/*This is resetting the defaults that the browser
automatically applies to the content */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Libre Baskerville', serif;
}
header {
      background-color: #5D4037;
      height: 500px;

}

#container { 
	position: absolute; 
	padding:0 0 0 0; 
	text-align: center;
	width: 85%;
}
#sidebar {
    position:absolute;
    margin: 0; 
    padding: 2px;
    width:15%;
    height: 500px;
    background-color: #A99B97;
}


h1 {
  font-size: 3rem; /* 300% */
}
p {
  font-size: 1rem; /* 100% */
}
nav {
  font-size: 1.25rem; /* 125% */
}
h2 {
  	font-size: 1.50rem; /* 150% */
}
h3 {
  	font-size: 0.75rem; /* 75% */
}
body {
  	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
}

.imgJen {
   border-radius: 50%;
   border: 3px solid #A1887F;
}

.headerli {
    display: inline;
    padding: 0px 10px 0px 10px;
}

/*
div {
  width: 600px;
  background-size: cover;
  position: relative;
  margin: 40px auto 0 auto;
  border-radius: 12px;
}
*/

#leftdiv {
	width: 20%;
	padding: 5px 2.5% 5px 2.5%;
	float: left;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	background-color: #A97564;

}
#rightdiv {
	width: 70%;
	padding: 5px 2.5% 5px 2.5%;
	float: left;
	background-color: #766D6A;
}

#leftdivContact {
	width: 70%;
	padding: 5px 2.5% 5px 2.5%;
	float: left;
	background-color: #766D6A;

}

#rightdivContact {
	width: 20%;
	padding: 5px 2.5% 5px 2.5%;
	float: left;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	background-color: #A97564;
}


footer {
	width: 100%;
	height: 50px;
	margin: 0;

	background-color: #5D4037;
	clear: both;
}
